body {
    overflow-x: hidden;
    padding: 15px;
    background-image: url('../images/main_background.jpg');
    overflow-x: hidden;
}

.pdf-toolbar {
  width: 300px;
  text-align: center;
  margin-left: -150px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 1.5em;
  color: white;
  transition: all 0.5s ease-in-out;
}

.pdf-toolbar:hover, .pdf-toolbar:focus {
  background: rgba(0, 0, 0, 0.6);
}

section {
    padding: 15px;
    float: left;
    width: 48%;
    min-height: 800px;
    background: lightgray;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
}

aside {
    float: left;
    width: auto;
    min-width: 25%;
    min-height: 800px;
    background: lightgray;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
}
#bookView div {
    width: 100%;
    height: auto;
    min-height: 500px;
    background-color: white;
}
#scrapView div {
    width: 100%;
    height: auto;
}

#scrapEditor {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    min-height: 600px;
}

.pdf-toolbar {
  width: 300px;
  text-align: center;
  margin-left: -150px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 1.5em;
  color: white;
  transition: all 0.5s ease-in-out;
}

.pdf-toolbar:hover, .pdf-toolbar:focus {
  background: rgba(0, 0, 0, 0.6);
}
