body {
   background-image: url('../images/main_background.jpg');
}
section {
    float: left;
    width: 60%;
    height: 800px;
    background: lightgray;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
}
aside {
    float: left;
    width: auto;
    min-width: 25%;
    height: 800px;
    background: lightgray;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
}
#bookView div {
    width: 100%;
    height: auto;
    min-height: 500px;
    background-color: white;
}
#scrapView div {
    width: 100%;
    height: auto;
}