body {
    overflow-x: hidden;
    overflow-x: hidden;
}

div #bookView {
    margin: 10px;
}

div.book-title-block {
    border: 1px dotted black;
    margin: 10px;
}

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


/* When the input field gets focus, change its width to 100% */

input[type=text]:focus {
    width: auto;
}


.on-white:link, .on-white:visited, .on-white:hover, .on-white:active {
  color: teal;
}

.fullSection,
.leftSection {
    background-color: white;
}

.router-title {
  font-size: 3em;
  margin: auto;
}

.centering {
  text-align: center;
}

.spacer {
  padding-left: 10px;
}

.book, .chapter, .scrap, .login {
  padding: 15px 15px 0px 15px;
}

.login {
  display: inline-block;
}

.scrap {
  padding-bottom: 0px;
}

.nav-link:link, .nav-link:visited, .nav-link:hover {
  text-decoration: none;
  color: white;
}

.leftSection,
.rightSection {
    min-height: 100vh;
    width: 35%;
}

.leftSection {
  width: 65%;
  padding-left: 300px;
}

.fullSection {
  padding-left: 300px;
}

.fullSection h1,
.leftSection h1,
.rightSection h1 {
    margin-left: 0.5em;
    font-size: 25px;
}

.fullSection {
    min-height: 100vh;
    width: 100%;
}

nav#main-header.navbar.navbar-default {
    position: fixed;
    min-height: 100vh;
}

nav#main-header.navbar.navbar-default,
div.sidebar-nav,
div.col-sm-8,
div.row {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    border-radius: 0px;
}

.rightSection div.col-sm-8 {
    border-bottom: 1px solid black;
}

#rightSectionNav {
    margin-top: 1em;
}

#rightSectionNav a {
    color: black;
}


div.row {
    xwidth: 100%;
    min-height: 98vh;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
}

div.col-sm-3 {
    min-width: 10%;
    max-width: 10%;
    min-height: 98vh;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
}

div#pageWrapper {
    width: 100%;
    background-color: red;
}

.pdf-toolbar {
    width: 300px;
    text-align: center;
    margin-left: -150px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 1.5em;
    color: white;
    transition: all 0.5s ease-in-out;
}

.pdf-toolbar:hover,
.pdf-toolbar:focus {
    background: rgba(0, 0, 0, 0.6);
}

section {
    xpadding: 15px;
    float: left;
    width: 48%;
    xmin-height: 800px;
    min-height: 98vh;
    border: 1px solid gray;
    xborder-radius: 5px;
    xmargin: 10px;
}

aside {
    float: left;
    width: auto;
    min-width: 25%;
    min-height: 800px;
    background: lightgray;
    border: 1px solid gray;
    border-radius: 5px;
    xmargin: 10px;
}

#bookView {
    width: 100%;
    height: auto;
    min-height: 500px;
    background-color: white;
}

#scrapView {
    width: 100%;
    height: auto;
}

#scrapEditor {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    min-height: 600px;
}

div.book-title-block p.bookName {
    font-size: 1.5em;
}

div.book-title-block p a.previewEditLinks {
    float: right;
    margin-right: 2%;
}

.pdf-toolbar {
    width: 300px;
    text-align: center;
    margin-left: -150px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 1.5em;
    color: white;
    transition: all 0.5s ease-in-out;
}

.pdf-toolbar:hover,
.pdf-toolbar:focus {
    background: rgba(0, 0, 0, 0.6);
}


/* Testing of not styling the first child of the main navigation
nav#main-header.navbar.navbar-default a:hover
{
  background-color: red;
}*/



/* make sidebar nav vertical */

@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
