pdf-document {
  display: block;
  position: relative;
}

pdf-document .pdf-container {
  overflow: auto;
  height: 100%;
  max-height: 790px;
  width: 100%;
}

pdf-document canvas {
  background-color: #fff;
  border: 1px solid #000;
  margin: 5px;
}
